.main {
  flex-grow: 1;
}

.cards {
  display: flex;
  flex-direction: column;
  margin: 45px 8px 45px 48px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  grid-auto-rows: 328px;
  padding: 0;
  width: 1360px;
  min-height: 387px;
  margin-bottom: 40px;
}
