<<<<<<< HEAD:blocks/modal.css
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  background-color: rgba(0, 8, 0, 0.5);
  overflow: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  font-family: poppins, Arial, Helvetica, sans-serif;
  opacity: 0;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}
.modal__container {
  background-color: white;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__container-preview {
  background-color: transparent;
  padding: 0;
  max-width: 80vw;
  max-height: 80vh;
  width: unset;
}

.modal__image {
  height: 100%;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  padding: 4px 8px;
  background-color: #212121;
  color: #ffffff;
  border-radius: 8px;
  width: 400px;
  height: auto;
  min-height: 24px;
  max-height: 50px;
  max-width: fit-content;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal__close-btn {
  background-image: url(../images/close-default.svg);
  background-color: transparent;
  position: absolute;
  border: none;
  top: 22px;
  right: 51px;
  width: 40px;
  height: 40px;
}

.modal__close-btn:hover {
  background-image: url(../images/close-hover.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
  border: none;
}

.modal__close-btn_type_preview {
  background-image: url(../images/modal\ preview\ default\ close.svg);
  background-color: transparent;
  top: -4px;
  right: -53px;
  background-repeat: no-repeat;
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/modal\ preview\ hover\ close.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;

  border: none;
}

.modal__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  max-width: 169px;
  margin: 0 0 32px;
}

.modal__label {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin-top: 32px;
}

.modal__input {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 17px;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  object-fit: cover;
  font-weight: 500;
  color: #212121;
  margin-top: 20px;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__input:hover {
  cursor: pointer;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 0, 0, 0.7);
  line-height: 17.6px;
  display: block;
  margin-top: 8px;
}

.modal__submit-btn {
  font-size: 16px;
  width: 156px;
  font-weight: 500;
  padding: 18px 32px;
  background-color: #212121;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  line-height: 1;
  margin-top: 32px;
}

.modal__submit-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal__submit-btn_disable {
  color: #212121;
  background-color: grey;
  opacity: 50%;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 22px;
  }

  .modal__container {
    padding: 22px 12px 12px;
    border-radius: 8px;
    max-width: 730px;
    width: 100%;
    top: 86px;
    left: 0px;
    width: 300px;
  }

  .modal__image {
    width: 288px;
    top: 89px;
    left: 16px;
    border-radius: 4px;
    max-width: fit-content;
  }

  .modal__container-preview {
    width: unset;
  }

  .modal__close-btn {
    top: 12px;
    left: 248px;
    width: 40px;
    height: 40px;
    opacity: 40%;
    border: none;

    background-repeat: no-repeat;
  }

  .modal__close-btn_type_preview {
    top: -35px;

    left: 265px;
  }
  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
  }

  .modal__title {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 20px;

    line-height: 20px;
    margin-bottom: 34px;
  }

  .modal__label {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    line-height: 17.6px;
    font-size: 16px;
    width: 100%;
    color: #212121;
  }

  .modal__input {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    margin-top: 8px;
  }

  .modal__submit-btn {
    width: 100%;
    margin-top: 24px;
  }

  .modal__error {
    margin-top: 8px;

    font-size: 16px;
  }
}
=======
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  background-color: rgba(0, 8, 0, 0.5);
  overflow: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  font-family: poppins, Arial, Helvetica, sans-serif;
  opacity: 0;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}
.modal__container {
  background-color: white;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__container-preview {
  background-color: transparent;
  padding: 0;
  max-width: 80vw;
  max-height: 80vh;
  width: unset;
}

.modal__image {
  height: 100%;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  padding: 4px 8px;
  background-color: #212121;
  color: #ffffff;
  border-radius: 8px;
  width: 400px;
  height: auto;
  min-height: 24px;
  max-height: 50px;
  max-width: fit-content;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal__close-btn {
  background-image: url(..src/images/close-default.svg);
  background-color: transparent;
  position: absolute;
  border: none;
  top: 22px;
  right: 51px;
  width: 40px;
  height: 40px;
}

.modal__close-btn:hover {
  background-image: url(..src/images/close-hover.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
  border: none;
}

.modal__close-btn_type_preview {
  background-image: url(..src/images/modal\ preview\ default\ close.svg);
  background-color: transparent;
  top: -4px;
  right: -53px;
  background-repeat: no-repeat;
}

.modal__close-btn_type_preview:hover {
  background-image: url(..src/images/modal\ preview\ hover\ close.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;

  border: none;
}

.modal__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  max-width: 169px;
  margin: 0 0 32px;
}

.modal__label {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin-top: 32px;
}

.modal__input {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 17px;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  object-fit: cover;
  font-weight: 500;
  color: #212121;
  margin-top: 20px;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__input:hover {
  cursor: pointer;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 0, 0, 0.7);
  line-height: 17.6px;
  display: block;
  margin-top: 8px;
}

.modal__submit-btn {
  font-size: 16px;
  width: 156px;
  font-weight: 500;
  padding: 18px 32px;
  background-color: #212121;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  line-height: 1;
  margin-top: 32px;
}

.modal__submit-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal__submit-btn_disable {
  color: #212121;
  background-color: grey;
  opacity: 50%;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 22px;
  }

  .modal__container {
    padding: 22px 12px 12px;
    border-radius: 8px;
    max-width: 730px;
    width: 100%;
    top: 86px;
    left: 0px;
    width: 300px;
  }

  .modal__image {
    width: 288px;
    top: 89px;
    left: 16px;
    border-radius: 4px;
    max-width: fit-content;
  }

  .modal__container-preview {
    width: unset;
  }

  .modal__close-btn {
    top: 12px;
    left: 248px;
    width: 40px;
    height: 40px;
    opacity: 40%;
    border: none;

    background-repeat: no-repeat;
  }

  .modal__close-btn_type_preview {
    top: -35px;

    left: 265px;
  }
  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
  }

  .modal__title {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 20px;

    line-height: 20px;
    margin-bottom: 34px;
  }

  .modal__label {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    line-height: 17.6px;
    font-size: 16px;
    width: 100%;
    color: #212121;
  }

  .modal__input {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    margin-top: 8px;
  }

  .modal__submit-btn {
    width: 100%;
    margin-top: 24px;
  }

  .modal__error {
    margin-top: 8px;

    font-size: 16px;
  }
}
>>>>>>> 1978c68dc1b016c4bebcea182c87de25ea21f6a6:src/blocks/modal.css
